In [60]:
import numpy as np
import pandas as pd

In [61]:
# pd.concat(df.frame 리스트, axis=축)
df1 = pd.DataFrame( [['a',1],['b',2]], columns=['letter', 'number'] )
df2 = pd.DataFrame( [['c',3],['d',4]], columns=['letter', 'number'] )
df3 = pd.DataFrame( [['e',5,'!'],['f',6,'@']], columns=['letter', 'number', 'etc'] )
print(df1)
print(df2)
print(df3)

  letter  number
0      a       1
1      b       2
  letter  number
0      c       3
1      d       4
  letter  number etc
0      e       5   !
1      f       6   @

In [62]:
# 행 연결(컬럼이 같은 조건)
# 다른배열이 합쳐지면 빈칸은 nan으로 입력됨
# default 값으로 axis=0, row로 합쳐짐
df_rowconcat = pd.concat([df1,df2,df3])
df_rowconcat

  letter  number  etc
0      a       1  NaN
1      b       2  NaN
0      c       3  NaN
1      d       4  NaN
0      e       5    !
1      f       6    @

In [63]:
# 하지만 공통된 컬럼만 합치는 옵션이 있음 -> join='inner'
# 인덱스도 그대로 합쳐짐
df_rowconcat2 = pd.concat([df1,df2,df3], join='inner')  
df_rowconcat2

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4
0      e       5
1      f       6

In [64]:
# 인덱스 지정 옵션
# 옵션을 통해 인덱스 재정렬, ignore_index=True
df_rowconcat3 = pd.concat([df1,df2,df3], join='inner', ignore_index=True)
df_rowconcat3

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4
4      e       5
5      f       6

In [65]:
# pd.concat(df.frame 리스트, axis=축)
df4 = pd.DataFrame( dict(age=[20,21,22]), index=['amy', 'james', 'david'] )
df5 = pd.DataFrame( dict(phone=['010-1111-1111',
                                '010-2222-2222',
                                '010-3333-3333']), index=['amy', 'james', 'david'] )
df6 = pd.DataFrame( dict(job=['student','programer', 'ceo', 'designer']), 
                   index=['amy', 'james', 'david', 'kim'] )

print(df4)
print(df5)
print(df6)

       age
amy     20
james   21
david   22
               phone
amy    010-1111-1111
james  010-2222-2222
david  010-3333-3333
             job
amy      student
james  programer
david        ceo
kim     designer

In [66]:
# 컬럼으로 합치기, axis=1
df_colconcat1 = pd.concat([df4,df5,df6], axis=1, join='inner')
df_colconcat1

       age          phone        job
amy     20  010-1111-1111    student
james   21  010-2222-2222  programer
david   22  010-3333-3333        ceo

In [67]:
# pd.merge(left, right, on:기준컬럼, how=연결방법)
df = pd.read_csv('/content/scores.csv')

In [68]:
df.head()

      name    kor    eng   math
0    Aiden  100.0   90.0   95.0
1  Charles   90.0   80.0   75.0
2   Danial   95.0  100.0  100.0
3     Evan  100.0  100.0  100.0
4    Henry    NaN   35.0   60.0

In [69]:
df7 = df.loc[[1,2,3]][['name','eng']]
df8 = df.loc[[1,3,4]][['name','math']]
print(df7)
print(df8)

      name    eng
1  Charles   80.0
2   Danial  100.0
3     Evan  100.0
      name   math
1  Charles   75.0
3     Evan  100.0
4    Henry   60.0

In [70]:
# 공통 데이터만 연결
pd.merge(df7,df8, on='name')   # default how='inner'

      name    eng   math
0  Charles   80.0   75.0
1     Evan  100.0  100.0

In [71]:
# 공통 데이터만 연결
pd.merge(df7,df8, on='name', how='inner')   # default how='inner'

      name    eng   math
0  Charles   80.0   75.0
1     Evan  100.0  100.0

In [72]:
# 전부 연결
pd.merge(df7,df8, on='name', how='outer')   # default how='inner'

      name    eng   math
0  Charles   80.0   75.0
1   Danial  100.0    NaN
2     Evan  100.0  100.0
3    Henry    NaN   60.0

In [73]:
pd.merge(df7,df8, on='name', how='right')   # default how='inner'

      name    eng   math
0  Charles   80.0   75.0
1     Evan  100.0  100.0
2    Henry    NaN   60.0

In [74]:
# melt: 원하는 데이터 모양으로 바꾸기 위해 
df.head()

      name    kor    eng   math
0    Aiden  100.0   90.0   95.0
1  Charles   90.0   80.0   75.0
2   Danial   95.0  100.0  100.0
3     Evan  100.0  100.0  100.0
4    Henry    NaN   35.0   60.0

In [75]:
df.melt()   #  = pd.melt(df)

    variable    value
0       name    Aiden
1       name  Charles
2       name   Danial
3       name     Evan
4       name    Henry
..       ...      ...
115     math     95.0
116     math    100.0
117     math    100.0
118     math     70.0
119     math     95.0

[120 rows x 2 columns]

In [76]:
# 고정할 컬럼을 지정하여 melt -> id_vars = [열 이름리스트]
# name 고정

df.melt(id_vars=['name','kor']).head()

      name    kor variable  value
0    Aiden  100.0      eng   90.0
1  Charles   90.0      eng   80.0
2   Danial   95.0      eng  100.0
3     Evan  100.0      eng  100.0
4    Henry    NaN      eng   35.0

In [77]:
# 행으로 위치를 변경할 열 지정
# value_vars=[열이름리스트]
df.melt(id_vars='name', value_vars=['kor','eng']).tail()

       name variable  value
55  Vanessa      eng   70.0
56  Viviana      eng   80.0
57   Vikkie      eng   50.0
58   Winnie      eng  100.0
59     Zuly      eng   90.0

In [78]:
df.melt(id_vars='name', value_vars=['kor','eng'],
        var_name='subject', value_name='score').head()

      name subject  score
0    Aiden     kor  100.0
1  Charles     kor   90.0
2   Danial     kor   95.0
3     Evan     kor  100.0
4    Henry     kor    NaN

In [79]:
# 열을 행으로 보내기(pivot)
df = df.melt(id_vars='name', var_name='subject', value_name='score')
df

       name subject  score
0     Aiden     kor  100.0
1   Charles     kor   90.0
2    Danial     kor   95.0
3      Evan     kor  100.0
4     Henry     kor    NaN
..      ...     ...    ...
85  Vanessa    math   95.0
86  Viviana    math  100.0
87   Vikkie    math  100.0
88   Winnie    math   70.0
89     Zuly    math   95.0

[90 rows x 3 columns]

In [80]:
# grade 항목 만들기
def get_grade(x):

    if x >= 90:
        grade = 'A'
    elif x >= 80:
        grade = 'B'
    elif x >= 70:
        grade = 'C'
    elif x >= 60:
        grade = 'D'
    else:
        grade = 'F'

    return grade

df['grade'] = df['score'].apply(get_grade)
df = df.sort_values('name')
df

      name subject  score grade
0    Aiden     kor  100.0     A
60   Aiden    math   95.0     A
30   Aiden     eng   90.0     A
73     Amy    math   90.0     A
43     Amy     eng   75.0     C
..     ...     ...    ...   ...
28  Winnie     kor   70.0     C
88  Winnie    math   70.0     C
29    Zuly     kor   80.0     B
59    Zuly     eng   90.0     A
89    Zuly    math   95.0     A

[90 rows x 4 columns]

In [81]:
# df.pivot(index = 인덱스로 사용할 컬럼,
# columns = 컬럼으로 사용할 컬럼, values = 값으로 사용할 컬럼
# name, subject, score

df.pivot(index='name', columns='subject', values='score').head()

subject    eng    kor   math
name
Aiden     90.0  100.0   95.0
Amy       75.0   90.0   90.0
Charles   80.0   90.0   75.0
Chloe    100.0   95.0   95.0
Danial   100.0   95.0  100.0

In [82]:
df.pivot(index='name', columns='subject', values='grade').head()

subject eng kor math
name
Aiden     A   A    A
Amy       C   A    A
Charles   B   A    C
Chloe     A   A    A
Danial    A   A    A

In [83]:
df.pivot(index='name', columns='subject', values=['score','grade']).head()

         score               grade
subject    eng    kor   math   eng kor math
name
Aiden     90.0  100.0   95.0     A   A    A
Amy       75.0   90.0   90.0     C   A    A
Charles   80.0   90.0   75.0     B   A    C
Chloe    100.0   95.0   95.0     A   A    A
Danial   100.0   95.0  100.0     A   A    A

In [84]:
df.transpose().head()

,0,60,30,73,43,13,1,61,31,74,...,27,26,56,86,58,28,88,29,59,89
name,Aiden,Aiden,Aiden,Amy,Amy,Amy,Charles,Charles,Charles,Chloe,...,Vikkie,Viviana,Viviana,Viviana,Winnie,Winnie,Winnie,Zuly,Zuly,Zuly
subject,kor,math,eng,math,eng,kor,kor,math,eng,math,...,kor,kor,eng,math,eng,kor,math,kor,eng,math
score,100.0,95.0,90.0,90.0,75.0,90.0,90.0,75.0,80.0,95.0,...,NaN,100.0,80.0,100.0,100.0,70.0,70.0,80.0,90.0,95.0
grade,A,A,A,A,C,A,A,C,B,A,...,F,A,B,A,A,C,C,B,A,A

In [85]:
df = pd.DataFrame({"item": ["shirts", "shirts", "shirts", "shirts", "shirts",
                          "pants", "pants", "pants", "pants"],
                    "color": ["white", "white", "white", "black", "black",
                          "white", "white", "black", "black"],
                   "size": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                         "large"],
                   "sale": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "inventory": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df.head()

     item  color   size  sale  inventory
0  shirts  white  small     1          2
1  shirts  white  large     2          4
2  shirts  white  large     2          5
3  shirts  black  small     3          5
4  shirts  black  small     3          6

In [86]:
# 집계분석, item, size별 재고 합계를 pivot_table 메소드로 분석
# 재고, pants와 shirt, large와 small

df.pivot_table(index=['item','color'], columns='size', values=['inventory'], aggfunc='sum', fill_value=0)

             inventory
size             large small
item   color
pants  black         9     9
       white         6     8
shirts black         0    11
       white         9     2

In [87]:
df.pivot_table(index=['item','color'], columns='size', values=['inventory','sale'], aggfunc='sum', fill_value=0)

             inventory        sale
size             large small large small
item   color
pants  black         9     9     7     6
       white         6     8     4     5
shirts black         0    11     0     6
       white         9     2     4     1

In [88]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
print(titanic.shape)
df = titanic.loc[:, ['survived', 'pclass', 'sex', 'age', 'embarked'] ]
df.dropna(inplace=True)
#df.dropna()
print(df.shape)
df.head()
#df.info()

(891, 15)
(712, 5)

   survived  pclass     sex   age embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C
2         1       3  female  26.0        S
3         1       1  female  35.0        S
4         0       3    male  35.0        S

In [89]:
# 성별, 객실등급별 승선자 수 count 사용
df.pivot_table(index='sex', columns='pclass', values='survived', aggfunc='count', margins=True)

pclass    1    2    3  All
sex
female   83   74  102  259
male    101   99  253  453
All     184  173  355  712

In [90]:
# 성별, 객실등급별 생존 수 sum 사용
df.pivot_table(index='sex', columns='pclass', values='survived', aggfunc='sum', margins=True)

pclass    1   2   3  All
sex
female   80  68  47  195
male     40  15  38   93
All     120  83  85  288

In [91]:
# 성별, 객실등급별 생존률  mean 사용
# survived 가 0,1값이기 때문에 mean = 생존률
df.pivot_table(index='sex', columns='pclass', values='survived', aggfunc='mean', margins=True)

pclass         1         2         3       All
sex
female  0.963855  0.918919  0.460784  0.752896
male    0.396040  0.151515  0.150198  0.205298
All     0.652174  0.479769  0.239437  0.404494

In [92]:
#
df_tips = sns.load_dataset('tips')
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [93]:
df_tips['tip_pct'] = (df_tips.tip/df_tips.total_bill*100.).round(1)
df_tips.head(10)

   total_bill   tip     sex smoker  day    time  size  tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2      5.9
1       10.34  1.66    Male     No  Sun  Dinner     3     16.1
2       21.01  3.50    Male     No  Sun  Dinner     3     16.7
3       23.68  3.31    Male     No  Sun  Dinner     2     14.0
4       24.59  3.61  Female     No  Sun  Dinner     4     14.7
5       25.29  4.71    Male     No  Sun  Dinner     4     18.6
6        8.77  2.00    Male     No  Sun  Dinner     2     22.8
7       26.88  3.12    Male     No  Sun  Dinner     4     11.6
8       15.04  1.96    Male     No  Sun  Dinner     2     13.0
9       14.78  3.23    Male     No  Sun  Dinner     2     21.9

In [94]:
#
df_tips.pivot_table('tip_pct','sex')  # return = mean values(default)

          tip_pct
sex
Male    15.766879
Female  16.649425

In [95]:
#   성별, 흡연, tip_pct
df_tips.pivot_table(index='sex', columns='smoker', values='tip_pct', aggfunc='count', margins=True)

smoker  Yes   No  All
sex
Male     60   97  157
Female   33   54   87
All      93  151  244

In [96]:
#   성별, 흡연, tip_pct
df_tips.pivot_table('tip_pct',['sex','smoker'])

                 tip_pct
sex    smoker
Male   Yes     15.281667
       No      16.067010
Female Yes     18.215152
       No      15.692593

In [97]:
#   성별, 흡연, tip_pct
df_tips.pivot_table('tip_pct', 'smoker', aggfunc={'tip_pct': [np.mean, min, max]})

         max       mean  min
smoker
Yes     71.0  16.322581  3.6
No      29.2  15.933113  5.7

In [98]:
# groupby
# df.groupby(그룹기준컬럼).통계적용컬럼.통계함수
# .count(): 누락값 제외한 개수
# .size(): 누락값 포함한 데이터 수
# .mean(), .sum(), std, min, max

titanic = sns.load_dataset('titanic')
print(titanic.shape)
df = titanic.loc[:, ['survived', 'pclass', 'sex', 'age', 'embarked'] ]
df.head(10)
df.info()

(891, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   embarked  889 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 34.9+ KB

In [99]:
# 객실등급 별 승선자수(survived count) 결과 집계
df1 = df.groupby('pclass').survived.count().to_frame()
df1

        survived
pclass
1            216
2            184
3            491

In [100]:
# 객실등급 별 생존자수(survived sum) 결과 집계
df2 = df.groupby('pclass').survived.sum().to_frame()
df2

        survived
pclass
1            136
2             87
3            119

In [101]:
# 객실등급 별 생존비율(survived mean) 결과 집계
df3 = df.groupby('pclass').survived.mean().to_frame()
df3

        survived
pclass
1       0.629630
2       0.472826
3       0.242363

In [102]:
df4 = pd.concat([df1,df2,df3], axis=1)
df4

        survived  survived  survived
pclass
1            216       136  0.629630
2            184        87  0.472826
3            491       119  0.242363

In [103]:
df4.columns = ['승선자수', '생존자수', '생존비율']
df4

        승선자수  생존자수      생존비율
pclass
1        216   136  0.629630
2        184    87  0.472826
3        491   119  0.242363

In [104]:
# 성별 생존통계, 과제
df4 = df.groupby('sex').survived.count().to_frame()
df5 = df.groupby('sex').survived.sum().to_frame()
df6 = df.groupby('sex').survived.mean().to_frame()

df7 = pd.concat([df4,df5,df6], axis=1)
df7.columns = ['승선자수', '생존자수', '생존비율']
df7

        승선자수  생존자수      생존비율
sex
female   314   233  0.742038
male     577   109  0.188908

In [118]:
import pandas as pd
df = pd.read_csv('/content/titanic.csv')
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'Embarked']]
df.dropna(inplace=True)
print(df)

      Survived  Pclass     Sex   Age Embarked
0            0       3    male  22.0        S
1            1       1  female  38.0        C
2            1       3  female  26.0        S
3            1       1  female  35.0        S
4            0       3    male  35.0        S
...        ...     ...     ...   ...      ...
1300         1       3  female   3.0        S
1302         1       1  female  37.0        Q
1303         1       3  female  28.0        S
1305         1       1  female  39.0        C
1306         0       3    male  38.5        S

[1044 rows x 5 columns]

In [112]:
df4 = df.groupby('Sex').Survived.count().to_frame()
df5 = df.groupby('Sex').Survived.sum().to_frame()
df6 = df.groupby('Sex').Survived.mean().to_frame()

df7 = pd.concat([df4,df5,df6], axis=1)
df7.columns = ['승선자수', '생존자수', '생존비율']
df7

        승선자수  생존자수      생존비율
Sex
female   386   322  0.834197
male     658    93  0.141337

In [123]:
# 성별, 객실등급별 생존률
df
df.groupby(['Sex', 'Pclass']).Survived.mean().to_frame()

               Survived
Sex    Pclass
female 1       0.977099
       2       0.941748
       3       0.638158
male   1       0.264901
       2       0.094937
       3       0.108883

In [122]:
# 사용자정의 함수 적용 .agg(사용자정의함수, 매개변수)
# 함수 선언
def my_mean(value):
    return sum(value) / len(value)

In [124]:
df.groupby(['Sex','Pclass']).Survived.agg(my_mean)

Sex     Pclass
female  1         0.977099
        2         0.941748
        3         0.638158
male    1         0.264901
        2         0.094937
        3         0.108883
Name: Survived, dtype: float64